.sidnav {
  background-color: #3f51b5;
  width: 170px;
}

.sidnav a {
  color: white;
}

.sidnav a i {
  margin-right: 5px;
}

.content {
  padding: 1rem;
  background-color: #fff;
  color: #222222;
}